@model IEnumerable<PokerTournamentManager.Models.TournamentResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.IsPlayerEligibleForPrize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsEarned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrizeMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RebuyCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddOnCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BountiesWon)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPlayerEligibleForPrize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsEarned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrizeMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RebuyCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddOnCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BountiesWon)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.TournamentResultId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TournamentResultId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TournamentResultId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
