@model PokerTournamentManager.Models.Participant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPlayerEligibleForPrize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPlayerEligibleForPrize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RebuyCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RebuyCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddOnCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddOnCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BountiesWon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BountiesWon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ParticipantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
